.carousel{
    height: 100vh !important;
}

nav{
    position: absolute;
    top: 0px;
    border-bottom: 0.02rem solid #fff;
    padding-left: 10px;
}

#work{
    background-color: white !important;
    color: black;
    border: 0.02rem solid black;
}

#work:hover{
    background-color: black !important;
    color: white;
    border: 0.02rem solid black;
}

.img-sec{
    /* margin:0px !important; */

    height:600px;
}
.img-sec-2{
    /* margin:0px !important; */

    height:400px;
}
.img-sec-con .col.l4 {
  padding: 0;
}

.img-sec-con .col.l3 {
    padding: 0;
  }


#testimonial .carousel-slider{
    height: 350px !important;
}

.photo-btn{
    border-radius: 2rem !important;
    background-color: black !important;
}

.line{
    border: 1px solid black;
}
.fd{
    border: 1px solid rgb(255, 255, 255);

}

.amount{
    background-color: white !important;
    color: black !important;
    border: 0.02rem solid black !important;
}

.amount:hover{
    background-color: black !important;
    color: white !important;
    border: 0.02rem solid black !important;
}

.pricing .col.l4 {
    margin-left: 2rem;
  }


.page-footer{
    background-color: rgb(36, 34, 34) !important;
}



@media only screen and (max-device-width: 480px) {

    .carousel{
        height:300px !important;
    }
    .carousel-item img{
        height:300px !important;
    }
}